
   <h1 class="text-center text-4xl sm:text-7xl font-extrabold m-5 bg-gradient-to-r from-red-100 to-zinc-600 text-transparent bg-clip-text">Movies</h1>

   <div  *ngFor="let product of movies$ ">
   <div  class="md:container md:mx-auto">
     <div class="md:flex">
       <div class="md:shrink-0">
         <img class="block mx-auto h-45  shadow-md" src="{{product['poster']}}" alt="{{product['title']}}">
       </div>
       <div class="p-8">
         <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ product['title' ]  }}</div>
         <span  class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">año {{ product['year' ]}}</span>
         <span  class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">duracion {{ product['duration' ]}} min</span>
         <span  class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">imdbRating {{ product['imdbRating' ]}}</span>
         <span  class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">

        <div class="card" *ngFor="let item of getDataofActors(product['actors' ])">
          <span  class="subpixel-antialiased italic font-normal" >
            {{ item['first_name' ]}} {{ item['last_name' ]}}
          </span>
       </div>
          </span>

       </div>
     </div>
   </div>
  </div>

  <div  *ngIf="loading"  class="flex items-center justify-center ">
    <div class="w-40 h-40 border-t-4 border-b-4 border-red-600 rounded-full animate-spin"></div>
</div>

