

<div class="container mx-auto mt-5 text-center flex flex-wrap">

  <div class="bg-slate-700  flex p-5 m-6  shadow-md" *ngFor="let product of movies$">
    <img class="w-48 " src="{{product['poster']}}" alt="{{product['title']}}" />
    <div class="p-1 m-2  w-48">
      <div class="bg-slate-400 p-4 m-1">{{ product['title' ]  }} (  {{ product['year' ]}})</div>
      <div class="bg-slate-400 p-4 m-1">
      <span *ngFor="let genero of product['genre']" >{{genero}} </span>
      </div>
      <div class="bg-slate-400 p-4 m-1">{{ product['duration' ]}}  /raiting: {{ product['imdbRating' ]}}</div>
      <div class="bg-slate-400 p-4 m-1" (click)="goToSeeDetail(product['id' ])" >Mas detalle</div>
    </div>
  </div>


</div>


<div  *ngIf="loading"  class="flex items-center justify-center space-x-2 animate-pulse">
  <div class="w-8 h-8 bg-blue-400 rounded-full"></div>
  <div class="w-8 h-8 bg-blue-600 rounded-full"></div>
  <div class="w-8 h-8 bg-blue-800 rounded-full"></div>
</div>

